doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Dashboard
    link(rel="stylesheet", href="assets/css/styles.css")
  body 
    //- Header
    header.header Header
    //- End Header

    //- Sider
    nav.sider 
      h2 Sider
      h2 Sider
    //- End Sider

    //- Main
    main.main 
      h2 Main
      h2 Main
    //- End Main
