extends ../layouts/default.pug

block title 
  title Dashboard

block main 
  h1.box-title Dashboard

  //- Section 1
  section.section-1 
    .inner-item 
      .inner-icon 
        img(src="assets/images/icon-users.svg" alt="Users")
      .inner-content 
        .inner-title Users
        .inner-number 1,200
    .inner-item 
      .inner-icon 
        img(src="assets/images/icon-orders.svg" alt="Orders")
      .inner-content 
        .inner-title Orders
        .inner-number 3,600
    .inner-item 
      .inner-icon 
        img(src="assets/images/icon-revenue.svg" alt="Revenue")
      .inner-content 
        .inner-title Revenue
        .inner-number $20,000
  //- End Section 1